.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 880px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}


.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card__image {
  height: 282px;
  width: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card__description {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  color: black;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  max-width: 219px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__like-button {
    background: transparent url(../images/Like-inactive.svg) no-repeat center;
   height: 18px;
   width: 20px;
   border: none;
   transition: opacity 0.2s linear;
   cursor: pointer;
   }

   .card__like-button:hover {
    opacity: 0.5;
  }
  