.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.card__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

.card__title {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  color: black;
  max-width: 219px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__like-button {
  background: transparent url(../images/Like.svg) no-repeat center;
  width: 20px;
  height: 18px;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.card__like-button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 680px) {
  .page__content {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .page__content {
    max-width: 100%;
  }
}
