.cards {
  color: black;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  line-height: normal;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-gap: 20px 17px;
  justify-content: center;
  padding: 0px 0 67px;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .cards__list {
    padding: 0px 0 56px;
  }
}

