.footer {
  color: #545454;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  padding-bottom: 60px;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  color: #545454;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  
}

@media screen and (max-width: 800px) {
  .footer {
    padding: 0 19px 36px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
  }
}
