.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
  max-width: 880px;
  width: 100%; 
}

.header__image {
  width: 173px;
  height: 33px;
}

@media (max-width: 800px) {
  .header {
    margin-top: 28px;
    padding-bottom: 32px;
    max-width: 100%;
  }

  .header__image {
    width: 126px; 
    height: 24px;
  }
}
