.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    z-index: 999;
    padding: 0 19px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
    align-items: center;
    justify-content: center;
  }
  
  .modal_opened {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
  }
  
  .modal__container {
    margin: auto;
    padding: 36px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .modal__close {
    background-image: url(../images/close.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -45px;
    right: -45px;
    height: 40px;
    width: 40px;
    border: none;
    padding: 0;
    transition: opacity 0.3s ease;
  }
  
  .modal__close:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .modal__title {
    color: #000;
    margin: 0 0 55px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    text-align: left;
  }
  
  .modal__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .modal__input {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    padding-bottom: 13px;
    width: 100%;
    margin: 0 0 30px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .modal__input:last-of-type {
    margin-bottom: 48px;
  }
  
  .modal__save {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 100%;
    height: 50px;
    margin: 48px 0 0;
    padding: 13px 0;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .modal__save:hover {
    opacity: 0.8;
  }
  
  @media screen and (max-width: 618px) {
    .modal__container {
      max-width: 282px;
      padding: 25px 23px;
    }
  
    .modal__title {
      margin-bottom: 75px;
      font-size: 18px;
      line-height: 1.1;
    }
  
    .modal__input {
      margin-bottom: 30px;
    }
  
    .modal__close {
      top: -45px;
      right: 0;
      height: 26px;
      width: 26px;
    }
  
    .modal__save {
      height: 46px;
      margin: 45px 0 0;
      font-size: 14px;
    }
  }
  