.page {
  background-color: black;
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.page__section {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 920px;
  margin: auto;
  padding: 0 20px;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 800px) {
  .page__content {
    max-width: 100%;
  }
}

/* @media screen and (max-width: 320px) {
  .page__content {
    max-width: 100%;
  }
} */
