.page {
  background-color: black;
  color: white;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.page__section {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 880px;
  margin: auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
