.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 51px;
}

.profile__main {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.profile__info {
  align-items: center;
  margin-bottom: 36px;
}

.profile__image {
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
}

.profile__title, .profile__description {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile__title {
  grid-area: title;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 14px;
  max-width: 200px;
  margin-top: 0%;
  
}

.profile__description {
  grid-area: description;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  max-width: 320px;
  margin: 0;
  text-align: center;
}

.profile__edit-button, .profile__add-button {
  background: transparent;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.profile__edit-button {
  grid-area: button;
  width: 18px;
  height: 18px;
  background-image: url('../images/pen.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  margin-left: 10px;
}

.profile__edit-button:hover, .profile__add-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  width: 100%;
  max-width: 300px;
  height: 50px;
  background-image: url('../images/Add Button.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
  border-radius: 2px;
}

@media screen and (min-width: 800px) {
  .profile {
    flex-direction: row;
  }

  .profile__info {
    margin-bottom: 0;
  }

  .profile__title {
    font-size: 42px;
    margin-bottom: 7px;
    max-width: 450px;
  }

  .profile__edit-button {
    margin-left: 16px;
    height: 24px;
    width: 24px;
  }

  .profile__image {
    margin-right: 24px;
    margin-bottom: 0;
  }

  .profile__add-button {
    margin-left: auto;
    width: 150px;
  }

  .profile__description {
    text-align: left;
  }
}
