.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

.card__title {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  color: black;
  max-width: 219px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__like-button {
  background-color: transparent;
  background-image: url(../images/Like.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s linear, transform 0.2s ease;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button.liked {
  background-image: url(../images/like-active.svg);
}

/* Delete Button */
.card__delete-button {
  background-color: transparent;
  background-image: url(../images/delete-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete-button:hover {
  opacity: 0.7;
}
